@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif, 'poppins';
}
:root{
    --primary-color: #333;
    --secondary-color: #f3f3f3;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    color: white;
    overflow-x: hidden;
   
    background-color: #1f1e1e;
}
.header {
    position: relative;
    width: 100%;
    top: 0;
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background-color:#0a0a0a;
    z-index: 100;   
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3) ;
}
.logo{
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
    color: white;
    transition: 0.3s ease;
}
.logo:hover{
    transform:scale(1.2);
}
.navbar a {
    font-size: 1.9rem;
    font-weight: 700;
    margin-left: 4rem;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    width: 100%;
}
.navbar a:hover,.navbar a.active{
    color: orange;
}
#menu-icon{
    font-size: 3.6rem;
    color: white;
    cursor: pointer;
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
section{
    min-height: 40vh;
    padding: 10rem 8%  2rem;
}
.home-img img{
    width: 80%;
    border-radius: 40%;
    cursor: pointer;
    border: 1px solid white;
    box-shadow: 0 0 12px white;
}
.home-img img:hover{
    transform: scale(1.1);
    transition: 0.9s;
    box-shadow: 0 0 16px white;
}
.home-content{
    line-height: 7rem;
}
.home-content span{
    font-size: 70px;
    font-weight: 700;
    color:white;
    margin-bottom: 2rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    color: gold;
}
.home-content .animate{
    position: relative;
}
.home-content .animate h3 {
    font-size: 5rem;
    font-weight: 700;
    color: red;
}
.home-content .download{
    font-size: 2rem;
    font-weight: 800;
    background-color:gold ;
    border:2px solid white;
    cursor: pointer;
    transition: 0.3s ease;
    color: #000;
}
.home-content .download:hover{
    background-color: goldenrod;
    color: white;
}
.social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: white;
    border: 0.2rem solid white;
    font-size: 30px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 3rem 1.5rem 3rem 0;
}
.social a:hover{
    transform: scale(1.2);
    background-color: silver;
    color: blue;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.download{
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 2rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 10rem 5%;
}
.about-content{
    margin-left: 5px;
    margin-right: 5px;
}
.about-img img{
    width: 150%;
    border-radius: 30%;
    cursor: pointer;
    
}
.about-img img:hover{
    transform: scale(1.1); ;
    transition: 0.9s;
    box-shadow: 0 0 16px white;
}
.about-content h1{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: orange;
    margin-left: 3rem;
    text-align: center;
}
.about-content p{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 2rem;
    color: white;
}
.about-content h3{
    font-size: 46px;
    font-weight: 700;
    color: white;
}
.about-content span{
    font-size: 42px;
    font-weight: 700;
    color:  gold;
    margin-bottom: 2rem;
    
}
.services h1{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 2%;
    text-align: center;
    color: orange;
}
.project{
    padding-top: 10px;
    margin-top: 10px;
    line-height: 4rem;
}
.project h3{
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin-bottom: 25px;
}
.project p{
    font-size: 3.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
}
 .project h3 span{
  color: orange;
}
.portfolio-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    background-color: #0a0a0a;
    border: 1px solid  rgb(104, 104, 16);
}
.portfolio-content .row{
    width: 40%;
    flex: 1 1 1 20rem;
    padding: 6rem 2rem 6 rem 2rem;
    border-radius: 15%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.portfolio-content .row a{
    font-size: 20px;
    text-decoration: underline;
    color: red;
    margin-right: 15%;
}
.project h2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2rem;
    color: white;
}
.project h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: orange;
    text-align: left;
}
.row{
    position: relative;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.row img:hover{
    transform: translateY(-10px);
}
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
.education .education-row{
    display: flex;
    gap: 5rem;
}
.education-row .education-column{
    flex: 1 1 40rem;
}
.education-column .title{
    font-size: 3rem;
    margin: 0 0 1.5rem 2rem;
}
.education-column .education-box{
    border-left: .2rem solid gold;
    font-size: 20px;
}
.education h2{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: orange;
    margin-left: 3rem;
    text-align: center;
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background-color: gold;
    border-radius: 50%;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid goldenrod;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 100%;
    background-color: rgb(83, 83, 12);
    z-index: -1;
    transition: .9s;
}
.education-content .content:hover::before{
width: 100%;
}
.education-content .content .year{
    font-size: 1.5rem;
    color: gold;
    padding-bottom: .5rem;
}
.education-content .content .year i{
    padding-right: .5rem;
}
.education-content .content h3{
    font-size: 2rem;
}
.services-container{
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    background-color:rgb(3, 3, 28) ;
    border: 1px solid  rgb(104, 104, 16);
}
.services-container .service1{
    width: 100%;
    flex: 1 1 20rem;
    padding: 6rem 2rem 6 rem;
    border-radius: 10px;
    box-shadow: 0 0  10px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}
.services-container .service1:hover{
    transform: translateY(-10px);
    border-color: seagreen;
}
.service1{
    background-color: #0a0a0a;
}
.service1 i{
    font-size: 4rem;
    color: white;
    margin-top: 2rem;
}
.service1 h3{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color:white;
    text-align: center;
}
.services h1{
    font-size: 5rem;
    font-weight: 700;
    color: orange;
    margin-left: 3rem;
    text-align: center;
    padding-bottom: 25px;
}
.service1 p{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2px;
    color: goldenrod;
}
.contact{
    min-height: auto;
    padding-bottom: 7rem;
}
.contact form{
   max-width: 90rem;
   margin: 0 auto;
   text-align: center;
}
.contact form .focus{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1f1e1e;
    border-radius: .6rem;
    z-index: -1;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 50%;
    margin: 1rem 0;
}
.contact form .input-box .input{
    position: relative;
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field input,.contact form .textarea textarea,.contact form .input-box .input input{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: #0a0a0a;
    border-radius: .6rem;
    border: .2rem solid rgb(96, 97, 14);
}
.contact .btn{
font-size: 2.5rem;
font-weight: 700;
background-color: black;
cursor: pointer;
transition: 0.3s ease;
color: white;
margin-top: 2%;
width: 100%;
}
.contact h2{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 2%;
    text-align: center;
    color: orange;
    padding-bottom: 25px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
}
@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width:991px){
    .header {
        padding: 2rem 4%;
    }
    section {
        padding:10rem 4% 2rem;
    }
    .services {
        padding: 7rem 2%;
    }
    .home{
     margin-top: 1px;
    }
    .education{
        padding: 7rem 2%;
    }
    .project{
        padding: 7rem 2%;
    }
    .contact {
      width: 100%;
    }
    .footer {
        padding: 2rem 3%;
    }
}
@media (max-width:600px){
    #menu-icon {
        display: block;
    }
    .header{
        position: fixed;
    }
    .navbar{
        position: fixed;
        top: 0;
        right: -100%;
        width: 200px;
        height: 50vh;
        z-index: 2;
        flex-direction: column;
        background-color: rgb(16, 15, 15);
        transition: 1s;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        backdrop-filter: blur(10px);
    }
    .navbar a{
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navbar.active {
        right: 0;
    }
    .header.active{
        right: 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content{
       order: 2;
       margin-left: 2rem;
    }
    .home-content h1{
        font-size: 3.9rem;
    }
    .header.active .navbar{
        display: block;
    }
    .home-content span{
        font-size: 6rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 2rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-img img{
      width: 70vw;
       margin-bottom: 7px;
        margin-top: 3rem;
    }
    .about-content p{
        font-size: 3rem;
    }
    .project{
        font-size: 3.2rem;
        width: 100%;
    }
    .project h1{
        margin-bottom: 2%;
    }
    .portfolio-content{
        width: 100%;
       justify-content: center;
    }
    .portfolio-content .row{
        width: 80vw;
    }
    .portfolio-content .row a{
        margin-right: 2%;
    }
    .services{
        width: 100%;
    }
    .services h1{
        font-size: 3.6rem;
    }
    @media (max-width: 600px){
        .home-img img {
            width: 70vw;
            margin-top: 8rem;
        }
        
            .about-img img{
                width: 70vw;
                margin-top: 8rem;
            }
        }
@media (max-width: 600px){
    html{
        font-size: 50%;
    }
    .contact-container{ 
        flex-direction: column;
    }
    .contact{
     width: 100%;
    }
}
}